# macOS
.DS_Store
*.swp

# Xcode
build/
DerivedData/

# User-specific Xcode files - IGNORE THESE
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcworkspace/contents.xcworkspacedata

# Swift Package Manager
.build/
Packages/
SourcePackages/