# macOS cruft
.DS_Store
**/.DS_Store
*.swp

# Xcode build products
build/
DerivedData/

# User-specific settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
SourcePackages/
.swiftpm/

# Optional: ignore Package.resolved if you don’t care about locking deps across machines
# **/Package.resolved